*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    width: 100%;
    height: 55px;
    display: flex;
    flex-direction: column;
}
nav{
    width: 100%;
    height: 40px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    z-index: 5;
    background: rgb(0 0 0);
}
.logo{
    width: 170px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#logo-name{
    color: #ffff;
    font-size: 25px;
    font-family: "Quicksand", serif;
    transform: translateX(-70px); 
}
.dm-logo{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    
}
nav span{
    color: #eee;
    font-weight: 700;
    margin-left: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
.fa-solid{
    padding-right: 10px;
}
.hamburger{
    display: none;
}
.services{
    width: 100%;
    height: 31px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-left: 60px;
    padding-right: 30px;
    background:rgb(27 27 35);
     position: fixed;
     top: 40px;
     left: 0;
     z-index: 5;
}
.services li{
    list-style: none;
    margin-right: 55px;
    color: #ffff;
    display: inline-block;
}
.services li a{
    text-decoration: none;
    color: #f0b802;
}

.drop-down{
    width: 175px;
    height:200px;
    transform: translateY(90px);
    display: inline-grid;
    justify-items: center;
}

.drop-down ul{
    width: 100%;
    height: 145px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 2px solid rgb(83 83 83);
    background: rgb(63, 62, 62);
    color: #f0b802;
    box-shadow:8px 3px 17px 1px #232323;
    font-size: 13px;
}
#catigory-checked{
    width: 85px;
    height:27px;
    position: absolute;
    top: -5px;
    left: 40px;
    opacity: 0;
    cursor: pointer;
}
.drop-down-btn{
    width: 100px;
    height: 20px;
    border: none;
    color: #f0b802;
    font-size: 17px;
    background: none;
}
.drop-down-menu{
    transform: translateY(-500px);
}
input[type="checkbox"]:checked ~ .drop-down-menu{
  transform: translateY(-10px);
  transition: transform .5s ease-in-out;
}
#Profile{
    width: fit-content;
    border-radius: 15px;
    border: 1px solid #fff;
    background: rgb(27, 27, 27);
}
#Register{
    width: 68px;
    height: 28px;
    border: 1px solid #f0b802;
    font-size: 13px;
    font-weight: 600;
    border-radius: 15px;
    background: rgb(27, 27, 27);
}
#Register a{
    text-decoration: none;
    color: #dfdcdc;
}
#Register a:hover{
    background: #eee;
    padding: 6px 10px 7px 6px;
    border-radius: 15px;
    color: rgb(27, 27, 27);
}



@media only screen and (max-width: 412px){
    .services{
        display: flex;
        justify-content: center;
    }
    #daily{
        font-size: 23px;
    }
    #logo-name{
        font-size: 23px;
        font-family: "Quicksand", serif;
        transform: translateX(-10px); 
    }
    .services li span{
      font-size: 11px;
    }
    nav span{
        font-weight: 600;
        font-size: 15px;
        margin-left: 15px;
        font-family: Arial, Helvetica, sans-serif;
    }
    #Register{
        width: 60px;
        height: 24px;
        font-size: 11px;
        font-weight: 500;
    }
    #Register a:hover{
        padding: 6px 9px 7px 9px;
    }
    .services span{
        font-size: 14px;
        font-weight: 400;
    }
   
}

@media only screen and (max-width: 648px)and (min-width: 305px){
    .services li{ display: none;
    }
    
    .hamburger{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 300px;
        height: 600px;
    }
    .hamburger-lines{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 31px;
        height: 32px;
        position: fixed;
        top: 37px;
        left: 5px;
        z-index: 5;
    }
    .hamburger input[type="checkbox"]{
        width: 31px;
        height: 27px;
        position: fixed;
        top: 40px;
        left: 5px;
        z-index: 7;
        opacity: 0;
    }
    #line1, #line2, #line3{
        width: 100%;
        height: 3px;
        background: #eee;
        z-index: 7;
    }
    .menu-items{
        width:350px;
        height: 635px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: left;
        position: fixed;
        left: 0px;
        top: 71px;
        padding-left: 45px;
        background: #232329;
        color: aliceblue;
        z-index: 6;
        transform: translateX(-360px);
        transition: transform .4s ease-in-out; 
    }
    .menu-items li{
        list-style: none;
        color: #eee;
    }
    #Register{
        border: none;
        background: none;
    }
    .menu-items li a{
        color: #eee;
        text-decoration: none;
        font-size: 28px;
        padding: 5px 55px 5px 55px;
    }
    .menu-items li a:hover{
        padding: 5px 55px 5px 55px;
        border: 1.5px solid white;
        border-radius: 5px;
    }
    .hamburger input[type="checkbox"]:checked ~ .menu-items{
        transform: translateX(0px);
        }
        .hamburger-lines #line1{
          transform-origin: 0% 0%;
          transition: transform .3s ease-in-out;
        }
        .hamburger-lines #line3{
            transform-origin: 0% 100%;
            transition: transform .3s ease-in-out;
        }
        .hamburger input[type="checkbox"]:checked ~ .hamburger-lines #line1{
            transform: rotate(45deg);
            background: #eee;
        }
        .hamburger input[type="checkbox"]:checked ~ .hamburger-lines #line2{
            display: none;
        }
        .hamburger input[type="checkbox"]:checked ~ .hamburger-lines #line3{
            transform: rotate(-45deg);
            background: #eee;
        }

}